.wrapper-home{
	
	background-color: lightblue;
}

.home-title{
	margin-top:2%;
	font-size: 4vw;
}

.home-description{
	font-size: 1.5vw;
}

.wrapper-home-lower-part {
  	background-color: white
}

.home-lower-cols {
  	width: 33%;
  	min-width: 150px;
  	background-color: white;
}

.home-icons{
	font-size: 7vw;
}

.icon-bolt{
	@extend .home-icons;
	color: #FCE675;
}

.icon-globe{
	@extend .home-icons;
	color: #55AA5D;
}

.icon-facebook{
@extend .home-icons;
	color: #3C90BC;
}

.icon-footer{
	font-size: 2vw;
	color: black;
	font-weight: bold;
}

.icon-text{
	text-align: center
	width: 90%;
	font-size: 12px;
	color: black;
	font-weight: bold;
}